$atoll: #0c597a33;
$background-gray: #eff5f9;
$background-light-blue: #eaf9ff;
$black: #0000;
$tangerine: rgba(#ffa568, 0.75);
$dark-blue: #2c3e50;
$mercury: #e88;
$pampas: #f9f8f6;
$salmon: #fadbd8;
$input-border: #d1e6ef;
$white: #ffff;

// BREAKPOINTS
$sm: 576px;
$md: 768px;

// SPACES
$s1: 0.5rem;
$s2: 1rem;
$s3: 1.5rem;
$s4: 2rem;
