$background-gray: #eff5f9;
$background-light-blue: #eaf9ff;
$dark-blue: #2c3e50;
$mercury: #e88;
$salmon: #fadbd8;
$input-border: #d1e6ef;
$white: #ffff;

// BREAKPOINTS
$sm: 576px;
$md: 768px;

// SPACES
$s1: .5rem;
$s2: 1rem;
$s3: 1.5rem;
$s4: 2rem;